#title{
    text-align: center;
    font-size: 4em;
}

#info{
    color: grey;
    font-size: 2em;
    text-align: center
}

thead tr th{
    text-align: center;
}
.detail{
    text-align: justify;
}

.actionBar{
    display:flex;
    justify-content: space-evenly;
}

.actionLink{
    text-decoration:none !important;
}

.actionLink:hover{
    font-size: 110%;
}

